body {
   background: #00E5AA; /* light green */
   color: #262626;
   font-family: Arial, san-serif;
   margin: 0;
   padding: 0;
}
#carousel-example-generic{
   border-radius:30px;
	width: 100%;
}
.cntr{
	width:100%;
}
.boton{
background-color: #FFC900;
background-image: -webkit-linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
background-image: -moz-linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
background-image: -o-linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
background-image: linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
-ms-border-radius:8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0 8px 0 #FFEE00, 0 10px 20px rgba(0, 0, 0, .4);
-moz-box-shadow: 0 8px 0 #FFEE00, 0 10px 20px rgba(0, 0, 0, .4);
box-shadow: 0 8px 0 #FFEE00, 0 10px 20px rgba(0, 0, 0, .4);
color: #fff;
display: inline-block;
font-size: 30px;
padding: 15px 25px;
text-decoration: none;
text-shadow: 0 -1px 1px rgba(25, 123, 29, .7);
}
.botones{
//margin:0 auto;
//width: 40%;
padding-bottom: 1em;
text-align: center;
margin-top: -1em;
}
 
#contact-form {  
   color:#0067B8;
   background-color: #00CA97; 
   padding: 20px;  
   margin: 50px auto;  
   border-radius: 15px;
   font-weight: bold; 
   -moz-border-radius: 15px;  
   -webkit-border-radius: 15px;  
}


 
#contact-form input,  
#contact-form select,  
#contact-form textarea,  
#contact-form label {  
   font-size: 15px;  
   margin-bottom: 2px;
   font-family: Arial, san-serif;
   width:100%;
}  
 
#contact-form input,  
#contact-form select,  
#contact-form textarea {  
   background: #fff;
   border: 0;
   -moz-border-radius: 5px;  
   -webkit-border-radius: 5px;  
   border-radius: 5px;
   margin-bottom: 25px;  
   padding: 5px;  
}
#contact-form .required {  
   font-weight:bold;  
   color: red;      
}
#cite{
   background-color: #D6EF22;
   color: #848903;
   border-radius: 1em;
   text-align: center;
   //margin:0 auto;
   //width: 100%;
   //padding: 0.3em 2em;
   box-shadow: 1px 10px #BED900;
}
header{
   margin:0 auto;
   width: 70%;
   padding-bottom: 0;  
}

#tip{
   margin-top: 0em;
   color: black;
}
.le{
   list-style: none;
   display: inline-block;
}
#navegacion{
   font-weight: bold;
}
#navegacion :hover{
   color:#337ab7;
}
.navegacion{
   width: 80%;
}
.titulo{
   display: inline-block;
   color:#00E5AA;
   font-weight: bolder;
   font-size: 1.5em;
}
.titulo-login{
   display: inline-block;
   color:#FFF;
   font-weight: bolder;
   font-size: 1.5em;

}
#logo{
   display: inline-block;
   font-weight: bold;
   width: 10%;
}
header>nav>ul>li>a{
   background: #00D5BC;
   color: #FFF;
   padding: 1em;
   border-radius: 0.3em;
   text-decoration: none;
   font-size: 1.6em;
   margin: 0;
}
#activo{
  color: #FFF;
  background: #00E5AA;
   
}
#datos{
   text-align:left;
}
.pie{
   text-align: center;
   background-color: #00CA97;
   border-radius: 1em;
   padding: 0.3em 0;
}
.foot{
   padding: 0;
   font-size: 1em;
   color: white;
}
.button1 {
   border-top: 1px solid #ffc702;
   background: #ffdf00;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffc702), to(#ffdf00));
   background: -webkit-linear-gradient(top, #ffc702, #ffdf00);
   background: -moz-linear-gradient(top, #ffc702, #ffdf00);
   background: -ms-linear-gradient(top, #ffc702, #ffdf00);
   background: -o-linear-gradient(top, #ffc702, #ffdf00);
   padding: 25px 60px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 2px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 22px;
  font-family: 'Fredoka One', cursive;
   text-decoration: none;
   vertical-align: middle;
   }
.button1:hover {
   border-top-color: #28597a;
   background: #ffea00;
   color: #c6a609;
   }
.button{
   margin:0 auto;
   width: 80%;
   padding-bottom: 1em;
   text-align: center;
   margin-top: -1em;

}
.login{
   box-shadow: 2px 2px #333;
}

/*Css para el horario*/
#horario{
   margin:0 auto;
   width:70%;
   text-align: center;
}
.disponible{
   background-color: #FFEE00;
   padding-left: 1em;
}
#citaciones{
   margin:0 auto;
   font-weight: bolder;
   text-align: left;
   margin-top: 1em;
   margin-bottom: 0.5em;
   font-size: 1.5em;
   color:#0067B8;
}
.table{
   width:100%;
   margin-top: 0em;
   border-spacing: 0;
   background-color: #0067B8;
   color:white;
   padding-top: 1em;
   padding-bottom: 6em;
   border-radius: 0.6em;
}
.tr{
   font-weight: normal;
   background-color: #0067B8;
   color:white;
}
.tr:first-child{
   background-color: #0067B8;
   color:white;
   font-weight: bold;
}
.encuestas{
   text-align: center;
   margin: 0 auto;
   color:white;
}
.encuesta{
   margin-top: 1em;
   padding:1em;
   border-radius: 1em;
   background-color:#0067B8 ;
}
.fecha{
   padding-right: 1em;
}
.enlace{
   font-weight: bold;
   color: white;
   padding-left: 1em;
}
.enlace:hover{
   color:#DDD;
}
.estado{
   padding-left: 1em;
}
/*.contenedor{
   max-width: 100%;
   margin:0px auto  0px auto;
   position: relative;
   text-align: center;
}*/
/*EstilosDatos*/
.datos{
   margin: 0;
   padding: 0;
   width: 100% ;
   background-color: #2aa;
   padding-bottom: 3em;

}
.datos div h1{
   text-align:center;
   font-size: 1.5em;
   font-weight: bold;
}
.datos div {
   width: 100%;
   text-align: center;
}
.datos div .institucion h2{
   font-size: 1.2em;
   background-color: #CCC;
   width: 23%;
   font-weight: bold;
   display: inline-block;
}
.datos-institucion{
   text-align: center;
}
.datos-institucion div{
    font-size: 1.2em;
   background-color: #CCC;
   width: 23%;
   display: inline-block;
}
.datos-institucion div:nth-child(n+4){
  width: 11.5%;
}


.datos div .salon h2{
   font-size: 1.2em;
   background-color: #CCC;
   width: 23%;
   display: inline-block;
   font-weight: bold;
}
.datos-salon{
   text-align: center;
}
.datos-salon div{
    font-size: 1.2em;
   background-color: #CCC;
   width: 23%;
   display: inline-block;
}
.datos-salon div:nth-child(n+4){
  width: 11.5%;
}


.datos div .representante h2{
   font-size: 1.2em;
   background-color: #CCC;
   width: 12%;
   display: inline-block;
   font-weight: bold;
}
.datos div .representante h2:nth-child(1){
   width: 2%;
}
.datos div .representante h2:nth-child(8){
   width: 5%;
}
.datos-representante{
   text-align: center;
}
.datos-representante div{
   font-size: 1.2em;
   background-color: #CCC;
   display: inline-block;
   width: 12%;
}
.datos-representante div:nth-child(1)
{
   width: 2%;
}
.datos-representante div:nth-child(8){
   width: 5%;
}
.datos-representante div:nth-child(n+9){
   width: 6%;
}
.nuevo{
   padding: .2em 1em;
   border-radius: 1em;
   font-weight: bold;
   font-size: 1.2em;
   //display: inline-table;
   box-sizing: border-box;
   text-align: center;
   width: 100%;
   margin-left: 5%;
   background-color: #CCC;
   color: #2222CC;
}
.nuevo a{
   width: 100%;
}
.datos div:nth-child(2){
   text-align: left;
}
.cs a{
  // border-left: 2px solid black;
   background-color: #9c9c9c;
   //color: red;
}
.usuario li{
   list-style: none;
   text-align: right;
   color: rgba(0,0,0,.5);
}
.datos-user{

   color:#262626;
   padding-bottom:2em;
   padding-top: .5em;
   margin-bottom: 2em;
   margin-top: 1em;
   border-radius: 1em;
   font-weight: bold;
   background-color: rgba(255,255,255,1);
}
.datos-user div{
   width: 50%;
   text-align: left;
   box-sizing: border-box;
   padding-left: 2em;

}
.datos-user h2{
   color: black;
   text-align: center;

}