body {
   background: #00E5AA; /* light green */
   color: #262626;
   font-family: Arial, san-serif;
}

#carousel-example-generic{
	
	width: 1024px;
	margin:auto;
   border-radius:30px;
	
	}

.cntr{
	width:100%;
}
.boton{
background-color: #FFC900;
background-image: -webkit-linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
background-image: -moz-linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
background-image: -o-linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
background-image: linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
-ms-border-radius:8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0 8px 0 #FFEE00, 0 10px 20px rgba(0, 0, 0, .4);
-moz-box-shadow: 0 8px 0 #FFEE00, 0 10px 20px rgba(0, 0, 0, .4);
box-shadow: 0 8px 0 #FFEE00, 0 10px 20px rgba(0, 0, 0, .4);
color: #fff;
display: inline-block;
font-size: 30px;
padding: 15px 25px;
text-decoration: none;
text-shadow: 0 -1px 1px rgba(25, 123, 29, .7);
}
.botones{
margin:0 auto;
width: 40%;
padding-bottom: 1em;
text-align: center;
margin-top: -1em;
}
 
#contact-form {  
   color:#0067B8;
   background-color: #00CA97;
   width: 908px;  
   padding: 20px;  
   margin: 50px auto;  
   border-radius: 15px;
   font-weight: bold; 
   -moz-border-radius: 15px;  
   -webkit-border-radius: 15px;  
}


 
#contact-form input,  
#contact-form select,  
#contact-form textarea,  
#contact-form label {  
   font-size: 15px;  
   margin-bottom: 2px;
   font-family: Arial, san-serif;
}  
 
#contact-form input,  
#contact-form select,  
#contact-form textarea {  
   width: 800px;
   background: #fff;
   border: 0;
   -moz-border-radius: 5px;  
   -webkit-border-radius: 5px;  
   border-radius: 5px;
   margin-bottom: 25px;  
   padding: 5px;  
}
#contact-form .required {  
   font-weight:bold;  
   color: red;      
}
#cite{
   background-color: #D6EF22;
   color: #848903;
   border-radius: 1em;
   text-align: center;
   margin:0 auto;
   width: 70%;
   padding: 0.3em 2em;
   box-shadow: 1px 10px #BED900;
}
header{
  
   margin:0 auto;
   width: 70%;
   padding-bottom: 0;

   
}

     


#tip{
   margin-top: 0em;
   color: black;
}
#le{
   list-style: none;
   display: inline-block;
}
#logo,#titulo,#navegacion{
   display: inline-block;
   background: #00E5AA;
   font-weight: bold;
}
#logo{
   width: 100px;
}
header>nav>ul>li>a{
   background: #00D5BC;
   color: #FFF;
   padding: 1em;
   border-radius: 0.3em;
   text-decoration: none;
   font-size: 1.6em;
   margin: 0;
}
#activo{
  color: #D9E311;
  background: #00E5AA;
   
}
#titulo{
   color: #FFF;
   font-family: Arial, cursive;
}
#datos{
   text-align:left;
}
footer{
   margin:1em auto;
   width: 67%;
   text-align: center;
   background-color: #00CA97;
   border-radius: 1em;
   padding: 0.3em 0;
}
.foot{
   padding: 0;
   font-size: 1em;
   color: white;
}
.button1 {
   border-top: 1px solid #ffc702;
   background: #ffdf00;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffc702), to(#ffdf00));
   background: -webkit-linear-gradient(top, #ffc702, #ffdf00);
   background: -moz-linear-gradient(top, #ffc702, #ffdf00);
   background: -ms-linear-gradient(top, #ffc702, #ffdf00);
   background: -o-linear-gradient(top, #ffc702, #ffdf00);
   padding: 25px 60px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 2px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 22px;
  font-family: 'Fredoka One', cursive;
   text-decoration: none;
   vertical-align: middle;
   }
.button1:hover {
   border-top-color: #28597a;
   background: #ffea00;
   color: #c6a609;
   }
.button{
   margin:0 auto;
   width: 80%;
   padding-bottom: 1em;
   text-align: center;
   margin-top: -1em;

}



.login{
   box-shadow: 2px 2px #333;
}

/*Css para el horario*/
#horario{
   margin:0 auto;
   width:70%;
   text-align: center;
}
table{
   width:100%;
   margin-top: 2em;
   border-spacing: 15px 5px;
   border-collapse: separate;
}
tr{
   background-color: #EEFFFF;
   color:#0067B8;
   font-weight: bold;
}
tr:first-child{
   background-color: #E1FAF6;
}
td:first-child{
   width:15%;
   
}
td{
   border-radius: 0.3em;
   padding:0.5em;
}
.disponible{
   background-color: #FFEE00;
}
#citas{
   width:70%;
   margin:0 auto;
}
#citaciones{
   margin:0 auto;
   width:70%;
   text-align: left;
   margin-top: 1em;
   margin-bottom: 0.5em;
   font-size: 1.5em;
   color:#0067B8;
}
.table{
   width:100%;
   margin-top: 0em;
   border-spacing: 0;
   background-color: #0067B8;
   color:white;
   padding-top: 1em;
   padding-bottom: 6em;
   border-radius: 0.6em;
}
.tr{
   font-weight: normal;
   background-color: #0067B8;
   color:white;
}
.tr:first-child{
   background-color: #0067B8;
   color:white;
   font-weight: bold;
}
.encuestas{
   text-align: center;
   width: 70%;
   margin: 0 auto;
}
.encuesta{
   background-color:#0067B8 ;
   margin-top: 2em;
   padding: 1em 0;
   border-radius: 1em;
   
}
.dispo{
   font-weight: bold;
   color: white;
}
.link{
   margin: 0 1em;
   color:#EEE;
   padding-right: 3em;
   border-right: 1px white solid;
}
time,em{
   margin: 0 1em;
   padding-right: 3em;
   border-right: 1px white solid;
}
/*Media Queries*/

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    body{
      
    }
}

@media only screen and (max-width: 767px) {
   body{
      
   }
    /* phones */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
    body{
      
    }
}